@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: 'Fira Sans', sans-serif;
   background-color: #F5F5F5;
}



/* utility  css start */

.full-width {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    width: 1280px;
    display: flex;
}
.w-50{
    width: 50%;
}
.flex{
display: flex;
}
.column{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.align-center{
    align-items: center;
}

a{
 text-decoration: none;
}

img{
 width: 100%;
}

.section-title{
    font-size: 40px;
    margin-bottom: 32px;
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.mb-16{
    margin-bottom: 16px;
}
section{
   margin-bottom: 80px;
}


/* utility  css end */


/* header css start  */

#header{
    height: 100px;
}
.logo{
 font-size: 32px;
 font-weight: bold;
 color:#0E0E0E;
}

.outline{
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    background: transparent;
    padding:15px 30px;

}
.outline:hover{
 background: #006A50;
 color: white;
}

.primary-button{
    background: #006A50;
    border: 1px solid #006A50;
    color:#fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 17px 34px;
    border-radius: 8px;
    display: inline-block;
}
.primary-button:hover{
    border: 1px solid #006A50;
    background-color: transparent;
    color: #006A50;
}

/* header css end */


/* hero banner css start  */
.hero-wrapper{
  height: 560px;
  padding: 80px 100px;
  margin-top: 20px       ;
  border-radius: 24px;
  background: rgb(198, 228, 214);
}
.sub-title{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
   
}
.main-title{
    color: rgb(14, 14, 14);
    font-size: 50px;
    font-weight: 700;
    line-height: 67px;
}
/* hero banner css end */

/* pillars of bangladesh css start  */
.box-wrapper{
    gap: 24;
}
.box{
    width: 302px;
    height: 244px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px;
    background-color: #fff;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}
.box img{
  width: 62px;
  margin-bottom: 25px;
}
.box-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 12px;
}
.box-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}
/* pillars of bangladesh css end */

